*.p1
*.obj
*.map
*.rlf
*.lst
*.hxl
*.hex
*.pre
*.as
funclist
*.sym
*.sdb
*.cof
*.dep
*.d
*.dia~

Volvo_SLS.X/build/*
Volvo_SLS.X/dist/*
Volvo_SLS.X/nbproject/Makefile-*
Volvo_SLS.X/nbproject/Package-*
Volvo_SLS.X/nbproject/private/*
Volvo_SLS.X/MPLABXLog*

*.swp